
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 1rem;
}

.menu-principal {
    margin: 1rem;
}

.sobre-min {
    margin: rem;
}

nav {
    margin: 1rem;
}

.redes-sociais {
    margin: 1rem;
}

body{
    
    background: url(img/programador.jpg); 
    background-repeat: repeat;
    font-family:sans-serif;
    background-size: 100%;
    background-attachment: fixed;
}

.principal{
    height: 100vh;
    left: 100%;
    margin: 0;
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
    display:grid;
    
    
}

.teste-css {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.envolvendo{
    background-color: rgb(246, 246, 246);    
    border-radius: 30px;
    text-align: center;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 99;
    
    
}

.sobre-min {
    background-color: rgb(246, 246, 246);
    
    /*
    border-radius: 30px;
    text-align: center;
    width: 66vw;
    height: 100%;
    z-index: 99;
   */
    
    border-radius: 30px;
    text-align: center;
    width: 80vw;
    height: auto;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    z-index: 99; 
    

}

.container{
    width: 100vw;
    height: 100vh; 
    
    display:grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99;
}

.container-sobremim {
    /* width: 100vw;
    height: 100vh; */
    width: auto;
    height: auto;
    display:grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
   
}
.foto-rafael{
    width: auto;
    height: auto;
    
    display:grid;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99;
    
}



