* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(0, #120c56, #000000); */
    background: rgba(12, 22, 68, 1);
    overflow: hidden;
  
  }
  

  #stars{
    position: relative;
    animation: anim-stars 8s linear  infinite;
  }

  #stars::after{
    content: " ";
    position: absolute;
    top: 150px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    
  } 
  
  @keyframes anim-stars {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-80px);
    }
}

  



  
  /* foguete */
.rocket{
    position: absolute;
    pointer-events: none;
    animation: rocket 0.1s ease infinite;

}
@keyframes rocket{
    0%, 100%{
        transform: translateY(-52px) translateX(-51%);
    }
    50%{
        transform: translateY(-48px) translateX(-50%);
    }

}

.rocket::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 250px;
    background: linear-gradient(#fcc400,transparent);
    left: 50%;
    bottom: -233px;
    transform: translateX(-50%);
    left: 50%;
    animation: fogo 0.1s ease infinite;
}



body:active .rocket::before,body:active .rocket::after 
{
    background: linear-gradient(rgb(243, 151, 2),transparent);
    height: 300px;
    filter: blur(1px);
    bottom: -282px;
}

@keyframes fogo{
    0%,100%{
        filter: blur(1px);
    }
    25%,75%{
        filter: blur(2px);
    }
    50%{
        filter: blur(3px);
    }


}

.rocket img{
    width: 80px;
    transform: rotate(-45deg);
    
}

  @keyframes animate {
    0% {
      transform: scale(1);
      opacity: 0.5;
    }
    90% {
      transform: scale(3);
    }
    100% {
      transform: scale(4);
      opacity: 0;
    }
     
  }
  
@keyframes animate{
    0% {
        transform: scale(1);
        opacity:0.5;
    }
    90% {
        transform: scale(3);
        
    }
    100% {
        transform: scale(4);
        opacity:0;
    }
}
/* menu */

ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(246, 246, 246);
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: rgb(246, 246, 246);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}


